{% extends 'myresume/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3 text-center mt-3">
            <img src="{% static 'img/resumeHome.png' %}" class="img-home mb-5" alt="Resumi">
            <div class="card card-body">
                <div class="col-md-4 offset-4">
                    <a href="{% url 'createResume' %}" class="btn btn-info">Create</a>
                </div>
                
            </div>
            
        </div>
    </div>
{% endblock %}